@keyframes my-rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes my-slide {
  0% {
    transform: scale(1) skew(0deg, 0deg);
  }
  25% {
    transform: scale(2) skew(10deg, 10deg);
  }
  50% {
    transform: scale(1) skew(0deg, 0deg);
  }
  75% {
    transform: scale(2) skew(-10deg, -10deg);
  }
  100% {
    transform: scale(1) skew(0deg, 0deg);
  }
}

.monaco-editor .cursors-layer.cursor-smooth-caret-animation > .cursor {
  /* transition: all 100ms cubic-bezier(1, -0.1, 0, 1), transform 0.5s ease; */
  /* transition: all 100ms cubic-bezier(1, 0, 0, 1); */
  transition: all 100ms ease-out;
  animation: my-slide 2s ease-in-out infinite;
}

/* .monaco-editor .cursors-layer.cursor-smooth-caret-animation > .cursor:hover {
  transform: scale(2) rotate(15deg);
} */
