@keyframes my-rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes my-slide {
  0% {
    transform: scale(1) skew(0deg, 0deg);
  }
  25% {
    transform: scale(2) skew(10deg, 10deg);
  }
  50% {
    transform: scale(1) skew(0deg, 0deg);
  }
  75% {
    transform: scale(2) skew(-10deg, -10deg);
  }
  100% {
    transform: scale(1) skew(0deg, 0deg);
  }
}

.monaco-editor .cursors-layer.cursor-smooth-caret-animation > .cursor {
  /* NOTE: first enable editor.cursorSmoothCaretAnimation */
  /* NOTE: always leave the transition in the code */
  transition: all 100ms ease-out;

  /* NOTE: uncomment this animation for skew demo */
  /* animation: my-slide 2s ease-in-out infinite; */

  /* NOTE: uncomment this animation for rotation demo */
  /* animation: my-rotation 2s linear infinite; */
}
